In [3]:
import pandas as pd
import plotly.express as px

car_data = pd.read_csv('../vehicles_us.csv') # lendo os dados
print(car_data.info())
display(car_data.head())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 103054 entries, ('price', 'model_year', 'model', 'condition', 'cylinders', 'fuel', 'odometer', 'transmission', 'type', 'paint_color', 'is_4wd', 'date_posted') to ('>>>>>>> Stashed changes', nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan)
Data columns (total 1 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   <<<<<<< Updated upstream  103052 non-null  object
dtypes: object(1)
memory usage: 3.8+ MB
None

C:\Users\aathi\AppData\Local\Temp\ipykernel_12592\1041477717.py:4: DtypeWarning: Columns (1,4,6,10,12) have mixed types. Specify dtype option on import or set low_memory=False.
  car_data = pd.read_csv('../vehicles_us.csv') # lendo os dados

                                                                                                                     <<<<<<< Updated upstream
price model_year model          condition cylinders fuel odometer transmission type   paint_color is_4wd date_posted              days_listed
9400  2011.0     bmw x5         good      6         gas  145000.0 automatic    SUV    NaN         1.0    2018-06-23                        19
25500 NaN        ford f-150     good      6         gas  88705.0  automatic    pickup white       1.0    2018-10-19                        50
5500  2013.0     hyundai sonata like new  4         gas  110000.0 automatic    sedan  red         NaN    2019-02-07                        79
1500  2003.0     ford f-150     fair      8         gas  NaN      automatic    pickup NaN         NaN    2019-03-22                         9

In [ ]:
# Exemplo do projeto

fig = px.histogram(car_data, x="odometer") # criar um histograma
fig.show() # exibindo
print()
print()
fig = px.scatter(car_data, x="odometer", y="price") # criar um gráfico de dispersão
fig.show() # exibindo

:

In [ ]:
# Remover carros sem preço definido
car_data_clean = car_data.dropna(subset=['price'])
carros_baratos = car_data_clean.sort_values('price').head(10)
display(carros_baratos)

# Top 5 modelos mais baratos
top5_price = car_data.nsmallest(5, 'price')[['model', 'price']]
print(top5_price)

:

In [ ]:
# Valores únicos em ordem crescente
precos_ordenados = sorted(car_data['price'].unique())
print(precos_ordenados)

:

In [ ]:
# Quantos preços diferentes existem
quantidade_precos = car_data['price'].nunique()
print(f"Existem {quantidade_precos} preços únicos")

:

In [ ]:
# Os 10 preços que mais aparecem
precos_comuns = car_data['price'].value_counts().head(10)
print(precos_comuns)

:

In [ ]:
min_price = 1000  # ajuste de preço mínimo
common_prices_filtered = [p for p in precos_comuns.index if p is not None and p >= min_price]
cols = ['price','model_year','model','condition','odometer','transmission','type','paint_color']
dfp = car_data[car_data['price'].isin(common_prices_filtered)].copy()
dfp['odometer'] = pd.to_numeric(dfp['odometer'], errors='coerce')

# (opcional) evitar repetição do mesmo modelo no mesmo preço
dfp = dfp.sort_values(['price','model','odometer']).drop_duplicates(['price','model'], keep='first')

top3_per_price = (
    dfp
    .sort_values(['price','odometer','model_year'], ascending=[True,True,False])
    .groupby('price', group_keys=False)
    .head(3)[cols]
)

print(top3_per_price)

:

: